body {
font-family:  "Noto Sans", "Noto Sans CJK JP", sans-serif;
/* font-family: "system-ui"; */
}
 /* -------------------- */
    /* header
    /* -------------------- */
    .header{
        background-color: #1B1310;
        padding: 0 120px;
        /* border-bottom:1px solid #fff; */
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-flow: wrap-reverse;
        font-family: fantasy;
}
    .header a{
        color:
    }
    .header img{
      width:10%;
      align-self:center;
    }
    .nav-list{
        /* navの横並び */
        display: flex;
    }
    .nav-item{
        /* メニューの右側に余白 */
        margin-right: 55px;
    }
    .burger-btn{
      display: none;
    }
    .nav-wrapper a{
        color: #fff;
    }
    .nav-wrapper a:hover {
        color:rgb(255, 105, 5);
        transition: 0.5s;
        text-decoration:none ;
    }
    .nav-wrapper a span {
      border-radius: 20px;
    }
    .nav-wrapper a span:hover {
      color:#000;
      background-color:#fff;
      transition:1s;
    }
    .nav-list span {
     font-size:20px;
     background-color: rgb(255, 105, 5);
     padding:10px;
    }
  
    /* .nav-list span:hover {
      background-color: springgreen;
      color:#fff;
    } */
    .site-title {
      color: #fff;
      font-size: 40px;
      text-shadow:0 0 20px #fff;
      font-family:system-ui;
      place-self: self-end;
    }
    .top {
      background-image: url(./image/pixta_34842460_70.png);
      background-size: cover;
      height: 90vh;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      font-family: fantasy;
}
    .top-wrapper {
     margin: 0 auto;
    }
    
    .box p{
      display: inline;
      font-size:20px;
    line-height: 1;
    letter-spacing: 0.08em;
    font-weight: 700;
    color: #fff;
    border: 1px solid #383838;
    border-radius: 3.16456vw;
    padding:20px;
    position: relative;
    background-color: #383838;
    
}
.box {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
}
.box-text::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -10px;
  border-top: 15px solid #383838;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  text-shadow:0 0 10px #1B1310;
}

.top-text {
padding-left: 100px;
}
.top-text {
  font-size: 60px;
  font-weight: bolder;
  text-shadow:  0 5px rgb(82, 80, 80);
}
.top-text h1 {
  padding-bottom: 50px;
  font-size: 100px;
  text-shadow:0 0 10px #fff;
  color:#000;
}

.fa-angle-double-down {
  color:#000;
}
.fa-angle-double-down:hover {
  color:rgb(255, 105, 5);
}
.coment{
  background-color: #eeeded;
}
.coment-text {
  font-size: 30px;
  place-items: center;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
.coment-text h1 {
  line-height: 50px;
  /* border:solid 10px #383838; */
  border-radius: 20px;
  display: inline;
}
.coment-text p{
  padding: 15px 20px;
  margin: 0;
  font-size: 2rem;
  font-weight: bolder;

}
.coment-title {
  font-size:50px;
  background: #383838;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.coment{
  font-family: system-ui;
}
@media screen and (max-width: 768px){
  .site-title {
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 20px #fff;
    font-family: system-ui;
    place-self: self-end;
    place-self: flex-start;
}
.header img {
  width: 20%;
  align-self: center;
}
.box {
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 30px;

}
.box p {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #fff;
  border-radius: 3.16456vw;
  padding: 20px;
  position: relative;
  background-color: #383838;
}
.top-text h1 {
  text-shadow: 0 0 10px #fff;
  color: #000;
  font-size: 50px;
  padding-bottom: 50px;
  text-align: initial;
}
.top-text {
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 0 0 5px rgb(82, 80, 80);
  font-size: 20px;
  text-align: center;
  padding-right: 100px;
  word-break: keep-all;
    padding-left: 60px;
}
.coment-text h1 {
  border-radius: 20px;
}
.coment-title {
  font-size: 18px;
  background: #383838;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.coment-text p {
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
}
.feature-wrapper {
  justify-content: center;
  text-align: center;
  background-color: #eeeded;
  position: relative;
  display: flex;
  flex-direction: column;
}
.feature-text p{
  font-size:12px;
}
.feature-sub h2 {
  font-size:28px;
}
.feature-wrapper img {
  width: 80%;
  border-radius: 10px;
  margin: 0 30px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.solution-title h1 {
  font-size: 20px;
}
}
.feature {

  font-family: system-ui;
}
.feature-content1 img{
  width:20%;
}
.feature-content1 {
  padding: 0;
  margin: 0 auto;
}
.feature-wrapper{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top:50px;
  background-color:#eeeded;
position: relative;
border-radius: 20px;

}
.feature-wrapper::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: center;
  bottom: -50px;
  border-top: 50px solid #eeeded;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
}
.feature-wrapper img {
width: 80%;
border-radius: 10px;
margin:0 30px;
margin:0 auto;
}
.feature-text {
  font-size:20px;
  padding-bottom:50px;
}
.feature-sub{
  font-size:30px;
  padding-bottom:2rem;
}

.container {
  margin: 0 auto;
  width:100%;
  height: 100%;
  max-width: 1500px;
}
.content-wrapper1 {
  font-family:system-ui;
}
.content-wrapper2 {
  font-family:system-ui;
}
.content-wrapper3 {
  font-family:system-ui;
}

.content-title {
  font-size:50px;
  text-align: center;
  padding:1% 0;
  background-color: #eeeded;
  font-family: system-ui;

}


    @media screen and (max-width:768px){
      /* ----------------------- */
      /* base_sp
      /* ----------------------- */
      
    
      /* ------------------ */
      /* humberger-menu */
      /* ------------------ */
      .header{
          padding: 0 5%;
      }
      .burger-btn{
          display: block;
          width: 39px;
          height: 39px;
          position: relative;
          z-index: 3;
      /*   codepenの挙動のため */
        background-color:transparent;
        border:none;
        }
        .bar{
          width: 20px;
          height: 1px;
          display: block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background-color: #fff;
        }
        .bar_top{
          top: 10px;
        }
        .bar_mid{
          top: 50%;
          transform: translate(-50%,-50%);
        }
        .bar_bottom{
          bottom: 10px;
        }
        .burger-btn.close .bar_top{
          transform: translate(-50%,10px) rotate(45deg);
          transition: transform .3s;
        }
        .burger-btn.close .bar_mid{
          opacity: 0;
          transition: opacity .3s;
        }
        .burger-btn.close .bar_bottom{
          transform: translate(-50%,-8px) rotate(-45deg);
          transition: transform .3s;
        }
        .nav-wrapper{
          display: none;
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
         }
         .header-nav{
            width: 100%;
            height: 100%;
            background-color:#1B1310;
            z-index: 2;
          }
         .header-nav .nav-list{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
          }
          .header-nav .nav-item{
            margin-right: 0;
            margin-bottom: 40px;
          }
      
      /* ------------------ */
      /* fv */
      /* ------------------ */
      .main-copy{
        font-size: 30px;
      }
      
      /* ------------------ */
      /* about */
      /* ------------------ */
      h3{
          font-size: 20px;
          margin-bottom: 30px;
      }
      .section-wrapper{
          padding:100px 5% 50px;  
      }
    
    
    }  
    .sub-title {
      font-size:30px;
      font-weight:bold;
      text-align: center;
      color:#000;
    }
    .sub-title p{
      display: block;
      padding:10px 50px ;
      color: #000;
      font-size: 18px;
      line-height: 1;
      letter-spacing: 1px;
      text-decoration: none;

      width:200px;
      margin: 0 auto;
      text-align:center;
    }












.content-wrapper123 {
  background-image: url(./image/背景画像\　黒\ 透明.png);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: right;
}
.content1{
    display: flex;
     width: 100%;
    height: 100%;
    /* background:linear-gradient(20deg, #383838, #ffffff, #ffffff); */
    align-items: center;
    justify-content: center;

}

.content1 img{
    width: 30%;
    padding: 50px;
}
.no-flex1 {
  /* background:linear-gradient(20deg, #383838, #ffffff, #ffffff); */

}
.image-content {
    background-color: cadetblue;
    text-align: center;
}
.flex img {
    width: 10%;
}
.content2{
    display: flex;
     width: 100%;
    height: 100%;
    /* background:linear-gradient(20deg, #ffffff, #ffffff, #383838); */
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}
.content2 img{
    width: 30%;
    padding: 50px;
}
.content3{
    display: flex;
     width: 100%;
    height: 100%;
    /* background:linear-gradient(20deg, #383838, #ffffff, #ffffff); */
    align-items: center;
    justify-content: center;
}
.no-flex1 h1{
  font-size:20px;
}
.no-flex2 h1{
  font-size:20px;
}
.no-flex3 h1{
  font-size:20px;
}

.content3 img{
    width: 30%;
    padding: 50px;
}
.question-title {
  font-size: 30px;
  text-align: center;
  padding:30px;
}
.solution {
  font-family: system-ui;
}
.solution-wrapper {
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding-top:5rem;
  background-image: url(./image/AI\　背景画像\ 透明度修正\　２０％.png);
  background-size: 1000px;
  height:800px;
  background-repeat: no-repeat;
  background-position: center;

}
.solution-wrapper h1 {
  font-size:50px;
  border: #383838 solid 10px;
  border-radius: 3.16456vw;
  padding:20px;
  background-color: #383838;
  color: #fff;
  font-weight: bold;
  display: inline-table;
}
.solution-content img{
  width:40%;
  margin: 0;
  padding:0;
  border-radius: 50px;
}
.solution-content {
  display: flex;
  justify-content: center;
  padding-top:50px;
  align-items: center;
}
.solution-text {
  font-size:25px;
  word-wrap: none;
  text-align: left;
}
.solution-text ul li {
padding-bottom:20px;
font-weight:bold;
}
.fas {
  padding-right: 10px;
}
.product-image {
  display: flex;
  justify-content: center;
  padding-bottom:30px;
}
.product-image1 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-bottom:30px;
  padding-top:50px;
}

.product-title {
  font-size:50px;
  text-align: center;
  padding:1% 0;
  background-color: #eeeded;
  font-family: system-ui;
  margin-bottom: 50px;
}
.product-text h3 {
  font-size: 40px;
  padding-bottom:30px;
}
.product-text1 h3 {
  font-size: 40px;
  padding-bottom:30px;
}
.sub {
  font-size: 20px;
}
.cloud {
  border: solid 10px #383838;
  padding: 20px;
  border-radius: 1.16456vw;
  background-color: #383838;
  margin-bottom: 30px;
  position: relative;
  font-size:30px;
  font-weight: bold;
  color:#fff;
}
.cloud::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: center;
  bottom: -30px;
  border-top: 50px solid #383838;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

 .product-button a{
  color:#fff;
  font-size:20px;
} 
.product-button a:hover {
  color:rgb(255, 105, 5);
  text-decoration: none;
  
}

.product-button {
  text-align: center;
  background-color: #000;
  padding: 10px;
  margin:0  auto;
  max-width: fit-content;
  border-radius: 20px;
} 

/* 質問ウインドウ */
.qa-list dl {
  position: relative;
  margin: 30px 0 0;
  cursor: pointer;
  border: 1px solid #DDD;
  width:100%;
}
.qa-list dl:first-child {
margin-top: 0;
}
.qa-list dl::after {
  position: absolute;
  top: 27px;
  right: 26px;
  display: block;
  width: 7px;
  height: 7px;
  margin: auto;
  content: '';
  transform: rotate(135deg);
  border-top: 5px solid #000;
  border-right: 5px solid #000;
}
.qa-list .open::after {
  transform: rotate(-45deg);
}
.qa-list dl dt {
  position: relative;
  margin: 0;
  padding: 20px 20px 20px 60px;
  font-weight: bold;
  background: #DDD;
}
.qa-list{
width: 100%;
margin: 0 auto ;
font-size: 30px;
}
.qa-list dl dt::before {
  font-size: 30px;
  line-height: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  content: 'Q.';
  color: #3285bf;
}
.qa-list dl dd::before {
  font-size: 30px;
  line-height: 1;
  position: absolute;
  left: 20px;
  display: block;
  content: 'A.';
  font-weight: bold;
  color: #fa4b5a;
}
.qa-list dl dd {
  position: relative;
  margin: 0;
  padding: 20px 20px 20px 60px;
}
.qa-list dl dd p {
  margin: 30px 0 0;
}
.qa-list dl dd p:first-child{
  margin-top: 0;
}
.qa-list {
margin-bottom:30px;
}

@media screen and (max-width: 767px) {
.qa-list dl {
  margin: 10px 0 0;
}
.qa-list dl:after {
  top: 20px;
  right: 20px;
  width: 7px;
  height: 7px;
}
.qa-list dl dt {
  padding: 16px 16px 16px 50px;
  font-size: 14px;
}
.qa-list dl dt::before {
  font-size: 14px;
  top: 20px;
  left: 20px;
}
.qa-list dl dd::before {
  font-size: 14px;
  left: 20px;
  margin-top: 5px;
}
.qa-list dl dd {
  margin: 0;
  padding: 16px 16px 16px 50px;
  font-size: 14px;
}
.qa-list dl dd p {
  margin: 30px 0 0;
}
.qa-list dl dd p:first-child{
  margin-top: 0;
}
}


/* * {
  margin: 0;
  padding: 0;
} */

/* CSS for CodePen
.accordion{
  margin-top: 10px;
}

.accordion__container {
  width: 40%;
  margin: 0 auto;
}

.accordion__title {
  background-color: #383838;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1.25em;
  padding: .625em .625em .625em 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.accordion__title::before, .accordion__title::after {
  content: '';
  display: block;
  background-color: #fff;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 2px;
  right: 25px;
}

.accordion__title::after {
  transform: rotate(90deg);
  transition-duration: .3s;
}

.accordion__title:hover,
.accordion__title:active,
.accordion__title.is-active { 
  background-color: #1B1310;
}

.accordion__title.is-active::before {
  opacity: 0;
}

.accordion__title.is-active::after {
  transform: rotate(0);
}

.accordion__content {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 0 1.5em;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: .3s;
}

.accordion__content.is-open {
  border: 1px solid #383838;
  padding: .625em 1.5em;
  line-height: normal; /* numberに書き換える*/
  /* height: auto;
  opacity: 1;
} */ 
/* .contact {
  text-align: center;
  font-size: 30px;
  padding-top:50px;
  width:100%;
}
.contact-name {
  padding:10px;
  /* background-color:#383838; */
  /* margin-right: auto;
}

.name {
  font-size:40px;
}
.email {
  font-size: 40px;
}
.office {
  font-size: 40px;
}
.phone {
  font-size: 40px;
}
.message textarea {
    font-size: 40px;
}
.message {
  background-color: #383838; */
/* }// */
.wrap {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #383838; */
}

.button {
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #383838;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }





#contact {
  width: 100%;
  height: 100%;
  background-color: #eeeded;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #000;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
margin:0 auto;
max-width:400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
 max-width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

input.button {
 width: -webkit-fill-available;
 margin-top:50px;
}
.form-group:hover {
  border: rgb(255, 105, 5) solid 1px;
}
textarea:hover {
  border: rgb(255, 105, 5) solid 1px;
}
.contact-text {
text-align: center;
font-size:20px;
color:#000;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}
/* //お問い合わせ先// */
.consub {
  background-image: url(./image/問い合わせ画像.jpg);
  background-size:cover ;
  background-repeat: no-repeat;
  width: 100%;
  height:50vh;
  margin:0 auto;
  padding:50px;
}
.consub-secret h2{
color:#fff;
font-weight:bold;
letter-spacing: 0.1rem;
font-size:30px;
}
.contact1-secret {
  color:#fff;
  font-weight:
}
.cloud2 {
  border: solid 10px #383838;
  padding: 20px;
  border-radius: 1.16456vw;
  background-color: #383838;
  margin-bottom: 30px;
  position: relative;
  font-size:30px;
  font-weight: bold;
  color:#fff;
  display: inline-grid;
}
.cloud2::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: center;
  bottom: -30px;
  border-top: 50px solid #383838;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}


/* .button:hover {
  /* transform: translate3d(0px, -29px, 0px); */
/* } */

.form-group {
  padding: 10px;
}

.button:hover{
  background:#000;
  color:rgb(255, 105, 5);
}
.policy {
  color:#000;
  padding-top:20px;
}
.policy a {
  color:#383838;
  font-weight: bold;
}
.policy a:hover {
  color:rgb(255, 105, 5);
  text-decoration: none;
  font-weight:bold;
}
.footer {
  width: 100%;
}
.footer-flex {
  display: flex;
  justify-content: space-around;
  place-items: center;
  background-color: #000;
}
.footer-flex p{
  color:#fff;
}
.footer-flex img {
  width:10rem;
}
.information a{
  padding-right: 20px;
  color:#fff;
  font-size:15px;
}
.information a:hover {
  font-weight: bold;
  color:rgb(255, 105, 5);
  text-decoration: none;
}






/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}



